$cp-font: "Roboto", sans-serif;
$cp-accent: #086788;
$cp-text: #333;
$cp-trans: .3s;

// Customization Bootstrap vars from "libs/bootstrap-4.1.3/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

// Shorthand for current project's grid gutter
$cp-gutter: $grid-gutter-width;
